section.achievements.page__achievements
	._content 
		._image
			img(src="@@webRoot/img/main/mark-3.png", alt="")
			._label
				+iconfont('check-circle', '_icon')
				span Без&nbsp;консервантов и&nbsp;пищевых добавок
			._label
				+iconfont('check-circle', '_icon')
				span Из&nbsp;свежих&nbsp;локальных и&nbsp;сезонных&nbsp;продуктов
		._info
			._title Мы&nbsp;гордимся своим производством
			._text 
				p Мы&nbsp;работаем, чтобы как можно больше людей имели возможность питаться сбалансировано, доступно и&nbsp;без&nbsp;лишней траты времени.
				p Блюда готовятся на&nbsp;нашем собственном и&nbsp;сертифицированном производстве, которое отвечает всем санитарным нормам и&nbsp;правилам.
