section.achievements.page__achievements
	._content 
		._image
			img(src="@@webRoot/img/main/mark-3.png", alt="")
			._label
				+iconfont('subtract', '_icon')
				span Без&nbsp;консервантов и&nbsp;пищевых добавок
			._label
				+iconfont('subtract', '_icon')
				span Из&nbsp;свежих&nbsp;локальных и&nbsp;сезонных&nbsp;продуктов
		._info
			._title Мы гордимся своим производством
			._text 
				p Мы&nbsp;работаем, чтобы как можно больше людей имели возможность питаться сбалансировано, доступно и&nbsp;без лишней траты времени.
				p Блюда готовятся на&nbsp;нашем собственном и  сертифицированном производстве, которое отвечает всем санитарным нормам и&nbsp;правилам.
