section.assortment.page__assortment
	._header
		._title Питание на&nbsp;ваш выбор
		._buttoms(data-move-el="[{'bp-max': 690.98, 'index': 0, 'target': '.bp-4'}]")
			a(href="")._button узнать меню
			a(href="")._button-arrow 
				+iconfont('arrow-right', "_icon")
	._content 
		._column
			.item-card._item
				._title завтрак
				._card-name(data-move-el="[{'bp-max': 690.98, 'index': 0, 'target': '.bp-5'}]") Завтраки
				._description Вкусные и&nbsp;полезные завтраки с&nbsp;разнообразной выпечкой настроят сотрудников на&nbsp;продуктивный рабочий день.
		._column
			.item-card._item.bp-7
				._image
					img(src="@@webRoot/img/products/ph-51.png", alt="Продукт")
		._column
			.item-card._item
				._title обед
				._card-name(data-move-el="[{'bp-max': 690.98, 'index': 0, 'target': '.bp-6'}]")  Комплексные обеды
				._description Чтобы не&nbsp;тратить время на&nbsp;дорогу или&nbsp;поиск ближайшего кафе, наша доставка комплексных обедов поможет сэкономить время и&nbsp;деньги.
		._column
			.item-card._item.bp-5
				._image
					img(src="@@webRoot/img/products/ph-48.png", alt="Продукт")
		._column
			.item-card._item
				._title ужин
				._card-name(data-move-el="[{'bp-max': 690.98, 'index': 0, 'target': '.bp-7'}]")  Ужин
				._description Вкусные ужины с доставкой - лучший способ проявить заботу о сотрудниках вечерами.
		._column
			.item-card._item.bp-6
				._image
					img(src="@@webRoot/img/products/ph-50.png", alt="Продукт")
	._fade-in.bp-4
