section.consumers.page__consumers
	._title Нам доверяют
	._content 
		._column 
			._image 
				img(src="@@webRoot/img/consumers/mir-instr.png", alt="Мир инструментов")
		._column 
			._image 
				img(src="@@webRoot/img/consumers/centos.png", alt="Centos")
		._column 
			._image 
				img(src="@@webRoot/img/consumers/unigroups.png", alt="Unigroups")