section.delivery.page__delivery
	._body 
		._header
			._title Доставка корпоративного&nbsp;питания
			._text Ежедневно доставляем вкусные обеды для&nbsp;сотрудников офисов, образовательных и&nbsp;медицинских учреждений, а&nbsp;также на&nbsp;строительные площадки и&nbsp;различные мероприятия
		._content 
			._column 
				._image 
					img(src="@@webRoot/img/main/mark-4.png", alt="картинка")
			._column 
				._service
					ul._list
						li._item
							+iconfont('check-circle', '_icon')
							p Бесплатная доставка корпоративных обедов
					ul._list
						li._item
							+iconfont('check-circle', '_icon')
							p Привозим питание для&nbsp;сотрудников к&nbsp;согласованному времени
					ul._list
						li._item
							+iconfont('check-circle', '_icon')
							p Все блюда в&nbsp;индивидуальной герметичной упаковке. К&nbsp;каждому комплексу прилагаются одноразовые приборы и&nbsp;салфетки
					ul._list
						li._item
							+iconfont('check-circle', '_icon')
							p Привозим обеды свежими и&nbsp;горячими, готовыми к&nbsp;употреблению
					ul._list
						li._item
							+iconfont('check-circle', '_icon')
							p Блюда можно разогреть в&nbsp;микроволновой печи прямо в&nbsp;упаковке
					ul._list
						li._item
							+iconfont('check-circle', '_icon')
							p Множество вариантов формирования меню: одноразовое, трехразовое, ежедневное, по&nbsp;индивидуальным предпочтениям
					ul._list
						li._item
							+iconfont('check-circle', '_icon')
							p Заказ на&nbsp;корпоративное питание можно оформить на&nbsp;неделю вперед
					ul._list
						li._item
							+iconfont('check-circle', '_icon')
							p Безналичная система оплаты от&nbsp;компании или&nbsp;наличными курьеру
		._buttons.grid-container
			._button 
				a(href="") доставка на&nbsp;стройку
			._button 
				a(href="") доставка на&nbsp;производство
			._button 
				a(href="") доставка в&nbsp;офис
			._button 
				a(href="") кейтеринг 
			._button 
				a(href="") организация столовой