section.helper.page__helper
	._body
		._title Отвечаем на&nbsp;самые частые&nbsp;вопросы
		._content
			._row
				._text Как и из чего готовится еда на&nbsp;нашем производстве?
			._row
				._text Мы используем технологичное оборудование, но&nbsp;при этом классические методы приготовления пищи. Многие процессы на&nbsp;нашей кухне делаются не&nbsp;машинами, а&nbsp;руками проверенных и&nbsp;надежных поваров, мы&nbsp;также вручную тщательно проверяем поступающие продукты, бережно и&nbsp;в&nbsp;идеальных санитарных условиях упаковываем готовую еду. Мы&nbsp;не&nbsp;используем искусственные консерванты, поэтому вся наша продукция хранится &nbsp;более 48 часов.
			._row
				._text Какие блюда входят в&nbsp;меню корпоративных обедов?
			._row
				._text Меню разнообразно и&nbsp;составляется с&nbsp;учетом предпочтений и&nbsp;потребностей разных клиентов. Оно включает в&nbsp;себя горячие и&nbsp;холодные блюда, салаты, закуски, десерты, а&nbsp;также опции для&nbsp;вегетарианцев и&nbsp;людей с&nbsp; определенными диетическими ограничениями.
			._row
				._text Можно&nbsp;ли заказать корпоративные обеды на&nbsp;разные дни недели?
			._row
				._text Конечно! Мы готовы предложить гибкое расписание доставки на&nbsp;любые дни недели в&nbsp;удобное для&nbsp;вас время. Вы можете заказывать еду на&nbsp;регулярной основе или по&nbsp;мере необходимости.
			._row
				._text Сколько времени заранее нужно заказывать корпоративные обеды?
			._row
				._text Мы рекомендуем заказывать корпоративные обеды за&nbsp;24 часа до&nbsp;желаемого времени доставки. Это позволяет нам собрать и&nbsp;подготовить все ингредиенты для&nbsp;вашего заказа, гарантируя свежесть и&nbsp;качество блюд.
			._row
				._text Какую информацию нужно предоставить при&nbsp;заказе корпоративных обедов?
			._row
				._text Для успешного заказа корпоративного питания, мы&nbsp;попросим вас предоставить следующую информацию: количество обедов, меню или&nbsp;конкретные предпочтения, адрес доставки, желаемое время доставки и&nbsp;контактные данные для&nbsp; связи. Это позволит нам обеспечить эффективную доставку и&nbsp;высокий уровень обслуживания.
