section.marketing.page__marketing
	._row
		._title
			h2 Корпоративное питание&nbsp;с&nbsp;доставкой
		._text - ЭТО КОМФОРТ СОТРУДНИКОВ, ПЛЮС К&nbsp;ИМИДЖУ КОМПАНИИ
		._image 
			img(src="@@webRoot/img/main/mark-1.png", alt="картинка") 
		._title
			h2 Сытые сотрудники повышают показатели:
		.indicators._content
			._row
				._column 
					.card
						._text лояльность сотрудников на 
						._value 14%
						._image 
							img(src="@@webRoot/img/main/arrow.png", alt="arrow")
				._column(data-move-el="[{'bp-max': 1439.99, 'index': 0, 'target': '.bp-9'}]") 
					.card
						._icon(data-move-el="[{'bp-max': 1740.98, 'index': 0, 'target': '.bp-10'}]") 
							+iconfont('arrow-up', '_icon')
						._value.bp-10 21%
						._text эффективность труда (КПД) 
				._column(data-move-el="[{'bp-max': 1439.99, 'index': 1, 'target': '.bp-9'}]") 
					.card
						._icon 
							+iconfont('smile', '_icon')
						._text общее настроение в&nbsp;офисе
				._column(data-move-el="[{'bp-max': 1439.99, 'index': 2, 'target': '.bp-9'}]") 
					.card
						._icon 
							+iconfont('alarm', '_icon')
						._text сокращается время от&nbsp;походов в&nbsp;кафе/магазин&nbsp;около
						._value 30-40
							span минут
				._column(data-move-el="[{'bp-max': 690.98, 'index': 4, 'target': '.bp-9'}]")
					.card
						._text концентрация на&nbsp;рабочих процессах
						._image 
							img(src="@@webRoot/img/main/union.png", alt="union")
			._row-faidin.bp-9
	._row
		.team-lunch
			._image(data-move-el="[{'bp-max': 1024.98, 'index': 4, 'target': '.bp-3'}]")
				img(src="@@webRoot/img/main/mark-2.png", alt="картинка") 
			._info.bp-3
				._icon
					+iconfont('thumbs-up', '_icon')
				._title Корпоративные обеды
				._text 
					p - недооцененный инструмент повышения лояльности, сокращения текучки и&nbsp;улучшения взаимоотношений между сотрудниками.
					p За несколько лет работы мы участвовали в&nbsp;организации корпоративного питания десятков предприятий – нередко на&nbsp;постоянной основе. Производственные мощности, рассчитанные на&nbsp;приготовление еды свыше чем на&nbsp;3000 человек в&nbsp;день. Обширное меню из&nbsp;блюд русской, европейской и&nbsp;кавказской кухни, различные варианты комплексного питания на&nbsp;выбор и&nbsp;корпоративные скидки.
					p Нам важно учесть вкусы и&nbsp;пожелания каждого клиента, поэтому мы&nbsp;постоянно обновляем и&nbsp;дополняем меню. Готовим непосредственно перед&nbsp;доставкой, все блюда к&nbsp;вам приедут свежими и&nbsp;вкусными.