section.marketing.page__marketing
	._title Корпоративное питание с доставкой
	._text - ЭТО&nbsp;КОМФОРТ&nbsp;СОТРУДНИКОВ, ПЛЮС К&nbsp;ИМИДЖУ&nbsp;КОМПАНИИ
	._image 
		img(src="@@webRoot/img/main/mark-1.png", alt="картинка") 
	._title Сытые сотрудники повышают показатели:
	._row
		//- .indicators._content
			._column 
				.card
					._text лояльность&nbsp;сотрудников&nbsp;на 
					._value 14%
					._image 
						img(src="@@webRoot/img/main/arrow.png", alt="arrow")
			._column 
				.card
					._icon 
						+iconfont('arrow-right', '_icon')
					._value 21%
					._text эффективность&nbsp;труда&nbsp;(КПД) 
			._column 
				.card
					._icon 
						img(src="@@webRoot/img/main/subtract.png", alt="subtract")
					._text общее&nbsp;настроение&nbsp;в&nbsp;офисе
			._column 
				.card
					._icon 
						img(src="@@webRoot/img/main/alarm-fill.png", alt="alarm")
					._text сокращается&nbsp;время&nbsp;от&nbsp;походов в&nbsp;кафе/магазин&nbsp;около
					._value 30-40
						span минут
			._column 
				.card
					._text концентрация&nbsp;на&nbsp;рабочих процессах
					._image 
						img(src="@@webRoot/img/main/union.png", alt="union")
	._row
		.team-lunch
			._image 
				img(src="@@webRoot/img/main/mark-2.png", alt="картинка") 
			._info 
				._icon
					
				._title Корпоративные обеды
				._text 
					p - недооцененный инструмент повышения лояльности, сокращения текучки и улучшения взаимоотношений между сотрудниками.
					p За несколько лет работы мы участвовали в организации корпоративного питания десятков предприятий – нередко на постоянной основе. Производственные мощности, рассчитанные на приготовление еды свыше чем на 3000 человек в день. Обширное меню из блюд русской, европейской и кавказской кухни, различные варианты комплексного питания на выбор и корпоративные скидки.
					p Нам важно учесть вкусы и пожелания каждого клиента, поэтому мы постоянно обновляем и дополняем меню. Готовим непосредственно перед доставкой, все блюда к вам приедут свежими и вкусными.