section.marketing.page__marketing
	._row
		._title Корпоративное питание с доставкой
		._text - ЭТО КОМФОРТ СОТРУДНИКОВ, ПЛЮС К ИМИДЖУ КОМПАНИИ
		._image 
			img(src="@@webRoot/img/main/mark-1.png", alt="картинка") 
		._title Сытые сотрудники повышают показатели:
		.indicators._content
			._scroll
				._column 
					.card
						._text лояльность сотрудников на 
						._value 14%
						._image 
							img(src="@@webRoot/img/main/arrow.png", alt="arrow")
				._column 
					.card
						._icon 
							+iconfont('arrow-up', '_icon')
						._value 21%
						._text эффективность труда (КПД) 
				._column 
					.card
						._icon 
							+iconfont('smile', '_icon')
						._text общее настроение в&nbsp;офисе
				._column 
					.card
						._icon 
							+iconfont('alarm', '_icon')
						._text сокращается время от&nbsp;походов в&nbsp;кафе/магазин около
						._value 30-40
							span минут
				._column 
					.card
						._text концентрация на рабочих процессах
						._image 
							img(src="@@webRoot/img/main/union.png", alt="union")
	._row
		.team-lunch
			._image(data-move-el="[{'bp-max': 1024.98, 'index': 4, 'target': '.bp-3'}]")
				img(src="@@webRoot/img/main/mark-2.png", alt="картинка") 
			._info.bp-3
				._icon
					+iconfont('thumbs-up', '_icon')
				._title Корпоративные обеды
				._text 
					p - недооцененный инструмент повышения лояльности, сокращения текучки и улучшения взаимоотношений между сотрудниками.
					p За несколько лет работы мы участвовали в организации корпоративного питания десятков предприятий – нередко на постоянной основе. Производственные мощности, рассчитанные на приготовление еды свыше чем на 3000 человек в день. Обширное меню из блюд русской, европейской и кавказской кухни, различные варианты комплексного питания на выбор и корпоративные скидки.
					p Нам важно учесть вкусы и пожелания каждого клиента, поэтому мы постоянно обновляем и дополняем меню. Готовим непосредственно перед доставкой, все блюда к вам приедут свежими и вкусными.