section.ordeer.page__ordeer
	._body 
		._title Заказать дегустацию
		._text 
			p Наша компания принимает заказы на&nbsp;организацию корпоративного питания по&nbsp;телефону или&nbsp;через форму заявки на&nbsp;сайте. Для обсуждения сотрудничества с&nbsp;вами свяжутся наши менеджеры.
		.ordeer-button._buttoms
			._button оставить заявку
			._button-arrow 
				+iconfont('arrow-right', "_icon")