section.ordeer.page__ordeer
	._body 
		._title Заказать дегустацию
		._text 
			p Наша компания принимает заказы на организацию корпоративного питания по телефону или через форму заявки на сайте. Для обсуждения сотрудничества с вами свяжутся наши менеджеры.
		.ordeer-button._buttoms
			a(href="")._button оставить заявку
			a(href="")._button-arrow 
				+iconfont('arrow-right', "_icon")