section.reviews.page__reviews
	._body
		._title Отзывы постоянных клиентов
		._content 
			._column
				.user-reviews
					._header
						._name Максим Хромов
						._icon
							+iconfont('marks', '_icon')
					._content
						._text У нашей компании давно сложилось сотрудничество с&nbsp;компанией по&nbsp;доставке корпоративных обедов. Факторы, по&nbsp;которым мы сотрудничаем именно с ними, - это надежность и&nbsp;очень вкусные блюда. У&nbsp;нас есть возможность выбрать меню на&nbsp;неделю вперед, что очень удобно для&nbsp;нас. Каждый день мы получаем горячий, свежий обед и&nbsp;можем быть уверены, что сотрудники не&nbsp;остались голодными. Спасибо вам за&nbsp;ваш профессионализм и&nbsp;качественное обслуживание!
			._column
				.user-reviews
					._header
						._name Оксана Иванова
						._icon
							+iconfont('marks', '_icon')
					._content
						._text Хочу поделиться своим опытом сотрудничества с&nbsp;компанией по&nbsp;доставке корпоративных обедов. Мы впервые воспользовались их услугами, и&nbsp;остались очень довольны. Организация работы была на&nbsp;высоте: оперативное оформление заказа, доставка в&nbsp;точно указанное время и&nbsp;высокое качество приготовленных блюд. Особенно порадовала разнообразие меню и&nbsp;возможность учесть наши пожелания. Вся команда офиса благодарит вас за&nbsp;заботу о&nbsp;нашем питании в&nbsp;рабочее время.
			._column
				.user-reviews
					._header
						._name Владимир Игнатов
						._icon
							+iconfont('marks', '_icon')
					._content
						._text Хотелось&nbsp;бы выразить благодарность компании за&nbsp;доставку корпоративных обедов на&nbsp;наше предприятие. Очень важным фактором для нас является своевременная доставка и&nbsp;прекрасное качество блюд. Все наши заказы были доставлены вовремя, а&nbsp;каждое блюдо было свежим, аппетитным и&nbsp;вкусным. Наш коллектив выразил только положительные отзывы о&nbsp;вашей компании и&nbsp;нам приятно иметь такого надежного партнера в&nbsp;организации нашего корпоративного питания.
			._column
				.user-reviews
					._header
						._name Антон Нестеров
						._icon
							+iconfont('marks', '_icon')
					._content
						._text Выражаю благодарность компании за&nbsp;ежедневную доставку питания на&nbsp;наш предприятие. Отдельное спасибо за&nbsp;разнообразие меню и&nbsp;готовность учесть индивидуальные предпочтения каждого сотрудника. Блюда приходят всегда свежими, горячими и&nbsp;вкусными. Это действительно экономит нам время, так&nbsp;как мы больше не&nbsp;тратим его на&nbsp;приготовление обедов дома или&nbsp;посещение кафе. Работать с&nbsp;вами - одно удовольствие!
			._column
				.user-reviews
					._header
						._name Пётр Хавыло
						._icon
							+iconfont('marks', '_icon')
					._content
						._text Огромное спасибо компании за&nbsp;надежность и&nbsp;профессионализм в&nbsp;доставке еды. У&nbsp;нас очень много занятых сотрудников, которым не&nbsp;хватает времени на&nbsp;готовку, поэтому сотрудничество с&nbsp;вами стало настоящим спасением. Все заказы доставляются точно в&nbsp;срок, а&nbsp;качество блюд на&nbsp;высоте. Мы всегда остаемся довольны вашими услугами и&nbsp;рекомендуем вас как&nbsp;надежного партнера в&nbsp;области корпоративного питания.
			._column
				.user-reviews
					._header
						._name Наталья Петрик
						._icon
							+iconfont('marks', '_icon')
					._content
						._text Я хочу выразить благодарность компании за&nbsp;организацию доставки обедов в&nbsp;наш офис. Наш коллектив очень доволен вашими услугами. Ваши блюда всегда свежие и ароматные, а&nbsp;также радует разнообразие меню. Сотрудники высоко оценили вашу работу и&nbsp;заметили, что&nbsp;после введения доставки обедов, у&nbsp;них появилось больше времени на&nbsp;отдых и&nbsp;отдельную благодарность хотелось&nbsp;бы выразить за&nbsp;профессиональное отношение к&nbsp;нашим диетическим требованиям.