section.reviews.page__reviews
	._body
		._title Отзывы постоянных клиентов
		._content 
			._column
				.user-reviews
					._header
						._name Максим Хромов
						._icon
							+iconfont('marks', '_icon')
					._content
						._text У нашей компании давно сложилось сотрудничество с компанией по доставке корпоративных обедов. Факторы, по которым мы сотрудничаем именно с ними, - это надежность и очень вкусные блюда. У нас есть возможность выбрать меню на неделю вперед, что очень удобно для нас. Каждый день мы получаем горячий, свежий обед и можем быть уверены, что сотрудники не остались голодными. Спасибо вам за ваш профессионализм и качественное обслуживание!
			._column
				.user-reviews
					._header
						._name Оксана Иванова
						._icon
							+iconfont('marks', '_icon')
					._content
						._text Хочу поделиться своим опытом сотрудничества с компанией по доставке корпоративных обедов. Мы впервые воспользовались их услугами, и остались очень довольны. Организация работы была на высоте: оперативное оформление заказа, доставка в точно указанное время и высокое качество приготовленных блюд. Особенно порадовала разнообразие меню и возможность учесть наши пожелания. Вся команда офиса благодарит вас за заботу о нашем питании в рабочее время.
			._column
				.user-reviews
					._header
						._name Владимир Игнатов
						._icon
							+iconfont('marks', '_icon')
					._content
						._text Хотелось бы выразить благодарность компании за доставку корпоративных обедов на наше предприятие. Очень важным фактором для нас является своевременная доставка и прекрасное качество блюд. Все наши заказы были доставлены вовремя, а каждое блюдо было свежим, аппетитным и вкусным. Наш коллектив выразил только положительные отзывы о вашей компании и нам приятно иметь такого надежного партнера в организации нашего корпоративного питания.
			._column
				.user-reviews
					._header
						._name Антон Нестеров
						._icon
							+iconfont('marks', '_icon')
					._content
						._text Выражаю благодарность компании за ежедневную доставку питания на наш предприятие. Отдельное спасибо за разнообразие меню и готовность учесть индивидуальные предпочтения каждого сотрудника. Блюда приходят всегда свежими, горячими и вкусными. Это действительно экономит нам время, так как мы больше не тратим его на приготовление обедов дома или посещение кафе. Работать с вами - одно удовольствие!
			._column
				.user-reviews
					._header
						._name Пётр Хавыло
						._icon
							+iconfont('marks', '_icon')
					._content
						._text Огромное спасибо компании за надежность и профессионализм в доставке еды. У нас очень много занятых сотрудников, которым не хватает времени на готовку, поэтому сотрудничество с вами стало настоящим спасением. Все заказы доставляются точно в срок, а качество блюд на высоте. Мы всегда остаемся довольны вашими услугами и рекомендуем вас как надежного партнера в области корпоративного питания.
			._column
				.user-reviews
					._header
						._name Наталья Петрик
						._icon
							+iconfont('marks', '_icon')
					._content
						._text Я хочу выразить благодарность компании за организацию доставки обедов в наш офис. Наш коллектив очень доволен вашими услугами. Ваши блюда всегда свежие и ароматные, а также радует разнообразие меню. Сотрудники высоко оценили вашу работу и заметили, что после введения доставки обедов, у них появилось больше времени на отдых и отдельную благодарность хотелось бы выразить за профессиональное отношение к нашим диетическим требованиям.