section.services.page__services
	._body 
		._header
			._title  Корпоративное питание за&nbsp;несколько шагов
			._text Мы поможем решить все вопросы, связанные с организацией питания: составим меню, продумаем логистику, предложим разные способы оплаты.
		._content 
			._column 
				.services-card
					._body
						._number 01
						._title Консультация
						._text Оставьте заявку на&nbsp;сайте и&nbsp;мы&nbsp;свяжемся с&nbsp;вами для&nbsp;проведения консультации. Подберём удобный для&nbsp;вас способ сотрудничества, продумаем логистику, составим меню и&nbsp;проведём его дегустацию.
			._column 
				.services-card
					._body
						._number 02
						._title Заключение договора
						._text Когда вы&nbsp;будете готовы к&nbsp;сотрудничеству, мы&nbsp;согласуем и&nbsp;подпишем договор, в&nbsp;котором пропишем все условия работы. Ежемесячно предоставляем все необходимые документы для&nbsp;бухгалтерии.
			._column 
				.services-card
					._body
						._number 03
						._title Обслуживание
						._text Теперь ваши сотрудники обеспечены ежедневным сбалансированным и&nbsp;полезным питанием. Мы&nbsp;всегда сможем скорректировать меню с&nbsp;учётом ваших пожеланий и&nbsp;выполнить любой нестандартный запрос.