.show-cookie
	._info
		._title Мы используем cookie. 
		._text 
			p Это позволяет нам анализировать взаимодействие посетителей с&nbsp;сайтом и&nbsp;делать его лучше. 
			p Продолжая пользоваться сайтом, вы соглашаетесь с&nbsp;использованием файлов cookie
		._button 
			button(type="submit") 
				span ok