.footer {
	// .footer__body

	&__body {
		display: flex;
		gap: 20px;
		justify-content: space-between;

		@include _screen-960 {
			flex-direction: column;
			justify-content: center;
		}
	}

	// .footer__column
	&__column {
		flex: 0 1 742px;

		h2 {
			color: rgb(255, 255, 255);
			font-size: 2.5rem;
			font-weight: 600;
			line-height: 120%; /* 30px/25 */
			@include _screen-690 {
				font-size: 16px;
			}
		}

		p {
			color: rgb(255, 255, 255);
			font-size: 2.5rem;
			font-weight: 400;
			line-height: 120%; /* 30px/25 */

			@include _screen-690 {
				font-size: 16px;
			}
		}

		&:nth-child(2) {
			@include _screen-960 {
				display: none;
			}
		}
	}

	// .footer__title
	&__title {
		margin-bottom: 24px;
		color: #ffffff;
		font-family: Inter;
		font-size: 6.4rem;
		font-weight: 700;
		line-height: 120.3125%; /* 77px/64 */

		@include _screen-1140 {
			font-size: calc(36px + (96 - 36) * ((100vw - 320px) / (1140 - 320)));
		}
		@include _screen-690 {
			margin-bottom: 20px;
			text-align: center;
		}

		@include _screen-960 {
			text-align: center;
		}
	}

	&__addres {
		margin-bottom: 21px;
		@include _screen-960 {
			text-align: center;
		}
	}

	// .footer__contacts
	&__contacts {
		margin-bottom: 20px;
		color: rgb(255, 255, 255);
		font-size: 2.5rem;
		font-weight: 400;
		line-height: 120%; /* 30px/25 */
		a {
			display: block;
		}

		@include _screen-960 {
			text-align: center;
		}
	}

	// .footer__info
	&__info {
		margin-bottom: 20px;
		@include _screen-960 {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .footer__footer
	&__footer {
		h2 {
			margin-bottom: 2rem;
			@include _screen-960 {
				text-align: center;
			}
		}

		p {
			color: #ffffff;
			font-size: 20px;
			font-weight: 400;
			line-height: 120%; /* 24px/20 */
			text-transform: lowercase;

			&:not(:last-child) {
				margin-bottom: 2rem;
			}
			@include _screen-960 {
				text-align: center;
			}
			@include _screen-690 {
				font-size: 16px;
			}
		}
	}

	&__developer {
		color: #ffffff;
		font-family: Roboto;
		font-size: 20px;
		font-weight: 400;
		line-height: 115%; /* 23px/20 */

		display: flex;
		flex-wrap: wrap;
		@include _screen-690 {
			font-size: 16px;
		}
	}

	// .footer__logo

	&__logo {
		display: flex;
		justify-content: center;
	}

	&__faid-in {
		display: flex;
		justify-content: center;
	}

	// .footer__map
	&__map {
		max-width: 742px;
		height: 100%;

		@include _screen-960 {
			margin: 9px 0 15px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__developer {
		padding-top: 10px;
		display: flex;
		@include _screen-960 {
			justify-content: center;
			text-align: center;
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
