@font-face {
  font-family: '#{$icon-font-family}';
  src:
    url('#{$icon-font-path}/#{$icon-font-family}.ttf?9njddx') format('truetype'),
    url('#{$icon-font-path}/#{$icon-font-family}.woff?9njddx') format('woff'),
    url('#{$icon-font-path}/#{$icon-font-family}.svg?9njddx##{$icon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  //* use !important to prevent issues with browser extensions that change fonts
  font-family: '#{$icon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  //* Enable Ligatures
  letter-spacing: 0;
  font-feature-settings: 'liga';
  font-variant-ligatures: discretionary-ligatures;
  //* Better Font Rendering
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle;
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up;
  }
}
.icon-marks {
  &:before {
    content: $icon-marks;
  }
}
.icon-smile {
  &:before {
    content: $icon-smile;
  }
}
.icon-alarm {
  &:before {
    content: $icon-alarm;
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-rub {
  &:before {
    content: $icon-rub;
  }
}
.icon-arrow-dow {
  &:before {
    content: $icon-arrow-dow;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-cancel {
  &:before {
    content: $icon-cancel;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;
  }
}
.icon-heart-like {
  &:before {
    content: $icon-heart-like;
  }
}
.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
