$icon-font-family: 'icon-set' !default;
$icon-font-path: '../fonts' !default;

$icon-check-circle: unquote('"\\e906"');
$icon-thumbs-up: unquote('"\\e905"');
$icon-marks: unquote('"\\e900"');
$icon-smile: unquote('"\\e901"');
$icon-alarm: unquote('"\\e902"');
$icon-angle-left: unquote('"\\f104"');
$icon-angle-right: unquote('"\\f105"');
$icon-rub: unquote('"\\f159"');
$icon-arrow-dow: unquote('"\\e92c"');
$icon-arrow-up: unquote('"\\e95c"');
$icon-arrow-left: unquote('"\\e92d"');
$icon-arrow-right: unquote('"\\e950"');
$icon-cancel: unquote('"\\ea3d"');
$icon-trash: unquote('"\\e938"');
$icon-heart-like: unquote('"\\e9da"');
$icon-shopping-cart: unquote('"\\e904"');
$icon-heart: unquote('"\\e903"');
