extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script 
	script(defer="defer" type="text/javascript" src="@@webRoot/js/index.min.js")
block title
	- var text='Джонго "Корпоративное питание с доставкой"' 

block main-content 
	block marketing
		include ../components/marketing
	block consumers
		include ../components/consumers
	block achievements
		include ../components/achievements
	block assortment
		include ../components/assortment
	block order
		include ../components/ordeer
	block delivery
		include ../components/delivery
	block services
		include ../components/services
	block helper
		include ../components/helper 
	block reviews
		include ../components/reviews 
