.page {
	// .page__container
	&__container {
		// container-type: size;
	}

	// .page__content
	&__content {
		background: $color;

		// @include _max(960px) {
		// 	border: 1px solid red;
		// }
	}

	// .page__header
	&__header {
		padding: 2.7rem 2.5rem 15rem 13.5rem;

		@include _690-1920 {
			padding-left: calc(
				2.7rem + (135 - 27) * ((100vw - 690px) / (1920 - 690))
			);
		}

		@include _screen-690 {
			padding-left: 2.7rem;
			padding-bottom: 48px;
		}

		@include _screen-375 {
			padding: 2.7rem 13px 48px;
		}
	}

	// .page__main-content
	&__main-content {
		background: #eeeeec;
		border-radius: 60px;

		padding: 0 13.5rem;

		@include _screen-690 {
			border-radius: 30px;
			padding: 0;
		}

		@include _690-1920 {
			padding-left: calc(0rem + (135 - 1) * ((100vw - 690px) / (1920 - 690)));

			padding-right: calc(0rem + (135 - 1) * ((100vw - 690px) / (1920 - 690)));
		}
	}

	// .page__marketing
	&__marketing {
		padding-bottom: 15.8rem;

		@include _screen-690 {
			padding-bottom: 44px;
		}
	}

	// .page__consumers
	&__consumers {
		padding-bottom: 15.8rem;
		@include _screen-690 {
			padding-bottom: 46px;
		}
	}

	// .page__achievements
	&__achievements {
		padding-bottom: 15.8rem;
		@include _screen-690 {
			padding-bottom: 46px;
		}
	}

	// ..page__assortment
	&__assortment {
		padding-bottom: 15.8rem;
		@include _screen-690 {
			padding-bottom: 51px;
		}
	}

	// .page__ordeer
	&__ordeer {
		padding-bottom: 15.8rem;

		@include _screen-690 {
			padding-bottom: 46px;
		}
	}

	// .page__delivery
	&__delivery {
		padding-bottom: 15.8rem;

		@include _screen-690 {
			padding-bottom: 46px;
		}
	}

	// .page__services
	&__services {
		padding-bottom: 15.8rem;

		@include _screen-690 {
			padding-bottom: 51px;
		}
	}

	// .page__helper
	&__helper {
		padding-bottom: 15.8rem;

		@include _screen-690 {
			padding-bottom: 46px;
		}
	}

	// .page__reviews
	&__reviews {
		padding-bottom: 15.8rem;

		@include _screen-690 {
			padding-bottom: 51px;
		}
	}

	// .page__footer
	&__footer {
		padding: 13.7rem 12.3rem 13.5rem 14.9rem;
		@include _690-1920 {
			padding-left: calc(0rem + (137 - 1) * ((100vw - 690px) / (1920 - 690)));

			padding-right: calc(0rem + (135 - 1) * ((100vw - 690px) / (1920 - 690)));
		}

		@include _screen-690 {
			padding-bottom: 53px;
			padding: 41px 16px;
		}
	}
}
