.marketing {
	// .marketing__title
	&__title {
		color: $font-color-secondary;
		font-size: 6.4rem;
		font-weight: 700;
		line-height: 120.3125%; /* 77px/64 */
		text-align: center;

		&:not(:first-child) {
			margin-bottom: 6.9rem;
			@include _screen-690 {
				margin-bottom: 20px;
			}
		}

		@include _320-1920 {
			font-size: calc(22px + (64 - 22) * ((100vw - 320px) / (1920 - 320)));
		}
	}

	// .marketing__text
	&__text {
		margin: 18px 0 5.8rem;
		font-size: 2.5rem;
		line-height: 120%; /* 30px/25 */
		text-align: center;
		text-transform: lowercase;

		@include _screen-690 {
			font-size: 16px;
			margin-bottom: 15px;
		}
	}

	// .marketing__row
	&__row {
		&:not(:last-child) {
			margin-bottom: 13.2rem;

			@include _screen-690 {
				margin-bottom: 50px;
			}
		}

		&:nth-child(1) {
			padding-top: 13.3rem;
			@include _screen-690 {
				border-radius: 30px;
				padding-left: 2.7rem;
				padding-right: 2.7rem;
				padding-top: 43px;
			}

			@include _screen-490 {
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		&:nth-child(2) {
			@include _screen-690 {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	// .marketing__image
	&__image {
		margin-bottom: 13.3rem;

		@include _screen-690 {
			margin-bottom: 6.3rem;
		}

		@include _screen-490 {
			margin-bottom: 46px;
		}

		img {
			max-width: 100%;
		}
	}

	// .marketing__content
	&__content {
		overflow-x: auto;
	}
}

.indicators {
	// .indicators__scroll
	&__scroll {
		@include _min-690 {
			display: flex;
			justify-content: space-between;
			gap: 20px;
			align-items: flex-end;
		}
	}

	// .indicators__column
	&__column {
		border-radius: 30px;
		display: flex;
		min-width: 310px;

		flex: 0 1 310px;
		max-width: 310px;

		&:nth-child(1) {
			padding: 49px 33px 25px 27px;
			background: #dae8e9;
		}

		&:nth-child(2) {
			padding: 25px 23px 22px 29px;
			background: #c2deea;

			.card__value {
				margin-bottom: 6.55px;
			}
			.card__icon {
				margin-bottom: 85px;
				width: 57px;
				height: 57px;
				border-radius: 50%;
				background: #fff;

				._icon {
					font-size: 32px;
					color: $font-color-secondary;
				}
			}
		}

		&:nth-child(3) {
			background: #f5f5f3;
			padding: 17px 18px 22px 40px;

			.card__icon {
				width: 57px;
				height: 57px;
				margin-bottom: 27px;
			}

			._icon {
				font-size: 57px;
				color: $color;
			}
		}

		&:nth-child(4) {
			background: #dce7ec;
			padding: 28px 29px 34px 32px;

			.card__icon {
				width: 57px;
				height: 57px;
				margin-bottom: 56px;
			}
			._icon {
				font-size: 57px;
				color: $color;
			}
		}

		&:nth-child(5) {
			padding: 24px 0 26px;
			.card__text {
				margin: 0 56px 40px 35px;
			}

			.card__image {
				display: flex;
				justify-content: center;
				margin-bottom: 14px;
			}
			background: #bbd8e8;
		}

		@include _screen-690 {
			width: 100%;
			max-width: 100%;

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .indicators__image
	&__image {
		margin-bottom: 13.3rem;
	}
}

.card {
	width: 100%;

	// .card__text
	&__text {
		font-size: 16px;
	}

	// .card__value
	&__value {
		color: $font-color-secondary;
		font-size: 64px;
		font-weight: 400;
		line-height: 107.99%; /* 77px/64 */
		letter-spacing: 0%;

		span {
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 118%; /* 19px/16 */
		}
	}

	// .card__imge
	&__image {
		text-align: center;
	}

	// .card__icon
	&__icon {
		position: relative;
		right: -100%;
		transform: translateX(-57px);
		text-align: left;
	}
}

.team-lunch {
	display: flex;
	gap: 24px;

	@include _screen-1024 {
		flex-direction: column;
	}

	// .team-lunch__image
	&__image {
		border-radius: 30px;

		@include _min-1024 {
			overflow: hidden;
			min-height: 100%;
			flex: 0 1 526px;
			width: 526px;
		}

		img {
			@include _min-1024 {
				width: 526px;
			}
			width: 100%;
			height: 100%;
			min-height: 100%;
			max-width: 100%;
			object-fit: cover;
			object-position: 0 100%;
			overflow: hidden;
		}
	}

	// .team-lunch__info
	&__info {
		flex: 0 3 1078px;
		padding: 3rem 67px 29.7rem;
		border-radius: 30px;
		background: $color;

		@include _screen-1920 {
			padding: 3rem calc(10px + (67 - 10) * ((100vw - 320px) / (1920 - 320)))
				29.7rem;
		}

		@include _screen-1024 {
			padding-bottom: 50px;
		}

		@include _screen-690 {
			padding-top: 45px;
		}

		._icon {
			display: inline-block;
			width: 45px;
			height: 56px;
			font-size: 50px;
			color: $bg-color;
		}
	}

	// .team-lunch__icon
	&__icon {
		@include _screen-690 {
			display: none;
		}
		width: 100%;
		margin-bottom: 10.5rem;
		text-align-last: right;

		@include _screen-1024 {
			// transform: translateX(-45px);
		}
	}

	// .team-lunch__title
	&__title {
		margin-bottom: 11px;
		color: $bg-color;
		font-size: 6.4rem;
		font-weight: 700;
		line-height: 120.3125%; /* 77px/64 */

		@include _320-1920 {
			font-size: calc(22px + (64 - 22) * ((100vw - 320px) / (1920 - 320)));
		}
	}

	// .team-lunch__text
	&__text {
		color: $bg-color;

		p {
			&:nth-child(1) {
				font-size: 2.5rem;
				line-height: 120%; /* 30px/25 */
				margin-bottom: 3.6rem;
			}

			&:nth-child(2) {
				line-height: 120%; /* 30px/25 */
			}

			&:nth-child(3) {
				line-height: 120%; /* 30px/25 */
			}

			&:not(:first-child) {
				font-size: 16px;
			}

			@include _screen-1024 {
				&:last-child {
					margin-bottom: 20px;
				}
			}
		}
	}
}
