.request-page {
	width: 100%;

	@include _screen-1140 {
		width: auto;
	}

	// .request-page__content
	&__content {
		// height: 100%;
	}

	// .request-page__body
	&__body {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 50px 0;
	}

	// .request-page__form
	&__form {
		max-width: 730px;
		position: relative;
		padding: 96px 94px;
		max-width: 730px;
		border-radius: 30px;
		background: $color;

		@include _690-1920 {
			padding-left: calc(0rem + (135 - 0) * ((100vw - 690px) / (1920 - 690)));

			padding-right: calc(0rem + (135 - 0) * ((100vw - 690px) / (1920 - 690)));
		}

		@include _screen-690 {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	// .request-page__close-btn
	&__close-btn {
		position: absolute;
		top: 39px;
		right: 36px;

		.icon-cancel {
			color: $bg-color;
			font-size: 18px;
		}
	}

	// .request-page__title
	&__title {
		margin-bottom: 42px;
		color: $bg-color;

		font-size: 64px;
		font-weight: 700;
		line-height: 120.3125%; /* 77px/64 */
		text-align: center;

		@include _320-1920 {
			font-size: calc(36px + (64 - 36) * ((100vw - 320px) / (1920 - 320)));
		}

		@include _screen-425 {
			font-size: 36px;
			line-height: 108.333333%; /* 39px/36 */
		}
	}

	// .request-page__text
	&__text {
		color: $bg-color;
		font-size: 2.5rem;
		font-weight: 400;
		line-height: 120%; /* 30px/25 */
		text-align: center;

		@include _screen-690 {
			font-size: 16px;
		}
	}
}

.request-form {
	// .request-form__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	// .request-form__line
	&__line {
		width: 100%;
	}

	// .request-form__input
	&__input {
		margin: 0 auto;
		max-width: 400px;

		input {
			width: 100%;
			padding: 21px;
			padding-left: 30px;
			color: #000 !important;
			font-size: 20px;
			font-weight: 400;
			line-height: 120%; /* 24px/20 */
			text-align: left;
		}

		border-radius: 30px;
		background: $bg-color;
	}

	// .request-form__button
	&__button {
		margin: 0 auto;
		max-width: 400px;
		margin-bottom: 53px;
		border-radius: 30px;
		background: $bg-color;

		display: block;
		padding: 18px;
		width: 100%;
		font-size: 25px;
		font-weight: 400;
		line-height: 120%; /* 30px/25 */
		text-align: center;
	}
}

.show-cookie {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: -1;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease-in-out;

	@include _screen-490 {
		bottom: 10px;
		right: 10px;
		left: 10px;
	}

	&._show {
		pointer-events: all;
		z-index: 999;
		opacity: 1;
	}

	&__info {
		overflow: hidden;
		border-radius: 30px;
		box-shadow: 1px 1px 15px #000;
		max-width: 485px;

		padding: 40px 30px;
		background: #cccccc;
	}
	// .info__title
	&__title {
		font-size: 2.5rem;
		font-weight: 400;
		line-height: 120%; /* 30px/25 */
		letter-spacing: 0%;
		margin-bottom: 13px;
	}

	// .info__text
	&__text {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 118.75%; /* 19px/16 */
		margin-bottom: 27px;
	}

	// .info__button
	&__button {
		display: flex;
		justify-content: flex-start;

		button {
			border-radius: 10px;
			background: $color;
			padding: 13px 50px;

			color: $bg-color;
			font-size: 1.8rem;
			font-weight: 400;
			line-height: 122.222222%; /* 22px/18 */
			text-align: center;
			text-transform: uppercase;
		}
	}
}
