.footer(id="contacts")
	._body
		._column
			._title Контакты
			._addres
				h2 Главный офис:
				p 249038, Калужская область г. Обнинск ул. Ленина д.1, офис 101

			._contacts 
				a(href="tel:=79308448484")._phone Телефон: +7 (930) 844-84-84
				a(href="mailto:info@domen.ru")._mail Почта: info@domen.ru
			._info
				p Режим работы:
				p Пн-пт 09:00 — 18:00
				p Сб 09:00 — 17:00
				p Вс 09:00 — 17:00
			._faid-in.bp-8
			._footer
				h2 Политика конфиденциальности
				p ©2024, ВСЕ ПРАВА ЗАЩИЩЕНЫ | ОРГАНИЗАЦИЯ КОРПОРАТИВНОГО ПИТАНИЯ
				._developer 
					span Сайт&nbsp;разработан&nbsp;студией&nbsp;дизайна 
					span._logo 
						img(src="@@webRoot/img/icons/logo-sadovskiy.png", alt="logo")
						span Sadovskiy&nbsp;Design
		._column
			._map(data-move-el="[{'bp-max': 960.98, 'index': 3, 'target': '.bp-8'}]") 
				img(src="@@webRoot/img/footer/map.png", alt="Карта проезда")
