header.header.page__header 
	._top 
		._text доставка обедов на&nbsp;предприятия
		._phone 
			a(href="tel:79308448484") +7 (930) 844-84-84
	._content 
		._item.bp-1
			._title
				h1 Организация корпоративного питания
			.ordeer-button._buttoms(data-move-el="[{'bp-max': 1440.98, 'index': 1, 'target': '.bp-1'}]")
				a(href="")._button оставить заявку
				a(href="")._button-arrow 
					+iconfont('arrow-right', "_icon")
			._text 	
				p Хотите питаться вкусно и разнообразно на&nbsp;рабочем месте?
		._item 
			._image(data-move-el="[{'bp-max': 960.98, 'index': 1, 'target': '.bp-1'}]")
				img(src="@@webRoot/img/header/pic-1.png", alt="картинка")
				
		._text-float
			p Наша компания предлагает удобную услугу по&nbsp;доставке корпоративного питания прямо к&nbsp;вам в&nbsp;офис, столовую, стройплощадку или мероприятие!

